@mixin container() {
  padding-left: $layout-mobile-offset;
  padding-right: $layout-mobile-offset;

  @media #{$tablet-up} {
    max-width: 668px;
    margin-left: auto;
    margin-right: auto;
    padding-left: $layout-tablet-offset;
    padding-right: $layout-tablet-offset;
  }

  @media #{$desktop-up} {
    max-width: 1050px;
  }
}

@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin clear-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin mobile-title-typography {
  font-size: 25px;
  line-height: 30px;
}

@mixin tablet-title-typography {
  font-size: 43px;
  line-height: 50px;
}

@mixin desktop-title-typography {
  font-size: 53px;
  line-height: 57px;
}

@mixin bg-zigzag-fill {
  @media #{$tablet-up} {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateY(50%);
      height: 22px;
      background: url("../img/bg-zigzag-fill.svg") repeat-x center / auto 100%;
    }
  }

  @media #{$desktop-up} {
    &::after {
      height: 34px;
    }
  }
}

@mixin bg-zigzag-line {
  @media #{$tablet-up} {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 15px;
      background: url("../img/bg-zigzag-line.svg") repeat-x center / auto 100%;
    }
  }

  @media #{$desktop-up} {
    &::after {
      height: 24px;
    }
  }
}
