@mixin container() {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;

  @media #{$tablet-up} {
    max-width: 668px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media #{$desktop-up} {
    max-width: 1050px;
  }
}

@mixin clearfix() {

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin clear-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
