@mixin container() {
  padding-left: 30px;
  padding-right: 30px;
}

@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin clear-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin replace-text {
  overflow: hidden;
  text-indent: -1000px;
}
