// Colors
$color-base: #444444;
$color-primary: #63d1bb;

$font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;

// Breakpoints
$mobile-up: 320px;
$tablet-up: 768px;
$desktop-up: 1150px;
