// Colors
$color-base: #444444;
$color-primary: #63d1bb;
$color-black: #000000;
$color-gray: #f1f1f1;
$color-gray-1: #ececec;

// Font
$font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-size: 15px;
$line-height: 24px;

// Dimensions

$product-card-padding: 28px;
$special-card-padding: 34px;

// Breakpoints
$mobile-up: "(min-width: 320px)";
$tablet-up: "(min-width: 768px)";
$desktop-up: "(min-width: 1150px)";
