// Colors
$gray--darken: #444444;
$gray--dark: #c6c6c6;
$gray: #e5e5e5;
$gray--light: #ececec;
$gray--lighten: #f1f1f1;
$gray--lightest: #fafafa;

$color-base: $gray--darken;
$color-primary: #63d1bb;
$color-white: #ffffff;
$color-black: #000000;

// Font
$font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-size: 15px;
$font-size--small: 13px;
$font-size--large: 17px;
$line-height: 24px;

// Dimensions
$layout-mobile-offset: 30px;
$layout-tablet-offset: 50px;
$layout-desktop-offset: $layout-tablet-offset;

$column-mobile-size: 130px;
$column-tablet-size: 167px;
$column-desktop-size: 175px;

$product-card-padding: 28px;
$special-card-padding: 34px;

// Shadows
$card-shadow-hover: 0 6px 10px rgba(#000000, 0.1);
$card-shadow-active: 0 3px 5px rgba(#000000, 0.1);

// Breakpoints
$mobile-up: "(min-width: 320px)";
$mobile-only: "(max-width: 767px)";
$tablet-up: "(min-width: 768px)";
$tablet-only: "(max-width: 1149px)";
$desktop-up: "(min-width: 1150px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
