@import "variables";
@import "mixins";

// Global
@import "global/normalize";
@import "global/fonts";
@import "global/base";

// Blocks
@import "blocks/button";
@import "blocks/modal";
@import "blocks/slider";

@import "blocks/main-nav";
@import "blocks/top-menu";
@import "blocks/site-header";
@import "blocks/site-footer";

@import "blocks/page-header";
@import "blocks/page-title";
@import "blocks/page-slogan";

@import "blocks/catalog";
@import "blocks/product-card";
@import "blocks/featured-product";
@import "blocks/special-card";

@import "blocks/about-us";
@import "blocks/category-nav";
@import "blocks/contacts";
@import "blocks/form-cart";
@import "blocks/form-order";
@import "blocks/group-controls";
@import "blocks/reviews";
