body {
  min-width: 320px;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-base;
  background-color: $color-white;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
