.about-us {
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-us__inner {
  @include container();
}

.about-us__title {
  margin: 0;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;
}

.about-us__list {
  @include clear-list();

  color: $color-black;
}

.about-us__item {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: $font-size--large;
  line-height: 20px;

  &::before {
    content: "";
    display: block;
    width: 55px;
    height: 37px;
    margin-left: -5px;
    margin-bottom: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--eco::before {
    width: 32px;
    // height: 37px;
    background-image: url("../img/icon-feature-1.svg");
  }

  &--cheap::before {
    width: 47px;
    // height: 27px;
    background-image: url("../img/icon-feature-3.svg");
  }

  &--likes::before {
    width: 34px;
    // height: 27px;
    background-image: url("../img/icon-feature-5.svg");
  }

  &--love::before {
    width: 35px;
    // height: 34px;
    background-image: url("../img/icon-feature-2.svg");
  }

  &--support::before {
    width: 55px;
    // height: 23px;
    background-image: url("../img/icon-feature-4.svg");
  }

  &--gift::before {
    width: 33px;
    // height: 32px;
    background-image: url("../img/icon-feature-6.svg");
  }
}

@media #{$tablet-up} {
  .about-us__title {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__lists-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us__list {
    width: 50%;
    padding-right: 40px;
    box-sizing: border-box;
  }

  .about-us__item {
    margin-bottom: 55px;
    font-size: 20px;
    line-height: 22px;
  }
}

@media #{$desktop-up} {
  .about-us__title {
    margin-left: $column-desktop-size;
    margin-bottom: 50px;
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__lists-wrapper {
    margin-left: $column-desktop-size;
    margin-right: $column-desktop-size;
  }

}
