.button {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 700;
  font-size: $font-size--large;
  line-height: 20px;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  border: 2px solid $color-base;
  color: $color-base;
  background-color: $color-white;
  transition: 0.25s;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-base;
  }

  &:active {
    color: rgba($color-white, 0.3);
    background-color: $color-base;
  }

  &--filled {
    border-color: transparent;
    color: $color-white;
    background-color: $color-primary;
  }
}

@media #{$mobile-only} {
  .button {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
