.button {
  width: 100%;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid $color-base;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  user-select: none;
  color: $color-base;
  background-color: $color-white;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.25s;

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-base;
  }

  &:active {
    color: rgba($color-white, 0.3);
    background-color: $color-base;
  }
}
