.category-nav {

}

.category-nav__item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 22px $layout-mobile-offset;
  font-weight: 700;
  font-size: 19px;
  line-height: $line-height;
  text-decoration: none;
  color: $color-white;
  transition: 0.25s;

  &:hover,
  &:focus {
    padding-bottom: 27px;
    margin-top: -5px;

    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    margin-top: -5px;
    padding-bottom: 27px;

    &::after {
      opacity: 0.3;
    }
  }

  &::after {
    content: "";
    width: 60px;
    height: 60px;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: opacity 0.25s;
  }

  &--accessory {
    background-color: #63d1bb;

    &:hover,
    &:focus,
    &:active {
      background-color: #59d5bc;
    }

    &::after {
      background-image: url("../img/icon-interior.svg");
    }
  }

  &--toys {
    background-color: #56c3b2;

    &:hover,
    &:focus,
    &:active {
      background-color: #46c1ae;
    }

    &::after {
      background-image: url("../img/icon-toy.svg");
    }
  }
}

.category-nav__text {
  max-width: 110px;
}

@media #{$tablet-up} {
  .category-nav {
    @include container();

    display: flex;
  }

  .category-nav__item {
    flex-grow: 1;
    padding-top: 27px;
    padding-bottom: 27px;
    font-size: 20px;
    line-height: 30px;

    &:hover,
    &:focus {
      padding-bottom: 32px;
    }

    &:active {
      padding-bottom: 32px;
    }
  }
}
