.contacts {
  padding-top: 30px;
}

.contacts__inner {
  display: flex;
  flex-wrap: wrap;
}

.contacts__title {
  @include container();

  flex-grow: 1;
  margin-top: 0;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $color-black;
}

.contacts__info {
  @include container();

  flex-grow: 1;
  margin-bottom: 40px;
  line-height: 30px;
}

.contacts__info-item {
  display: flex;
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__info-field {
  padding-right: 30px;
}

.contacts__info-value {

}

.contacts__info-link {
  position: relative;
  text-decoration: none;
  color: $color-base;
  transition: color 0.25s;

  &::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid $color-primary;
    left: 0;
    right: 0;
    top: 100%;
    transition: border-bottom-color 0.25s, right 0.25s;
  }

  &:hover,
  &:focus {
    color: $color-primary;
  }

  &:active {
    color: #c7ece7;

    &::before {
      right: 25px;
      border-bottom-color: #c7ece7;
    }
  }
}

.contacts__map {
  order: 1;
  width: 100%;
  height: 460px;
  margin-bottom: 40px;
  overflow: hidden;
}

.contacts__footer {
  @include container();

  order: 2;
  flex-grow: 1;
}

@media #{$tablet-up} {
  .contacts {
    padding-top: 45px;
  }

  .contacts__inner {

  }

  .contacts__title {
    @include tablet-title-typography();

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;

    &::after {
      content: "";
      min-width: 47px;
      height: 81px;
      background: url("../img/icon-flag.svg") no-repeat center / contain;
    }
  }

  .contacts__info {
    display: flex;
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: $font-size--large;
  }

  .contacts__info-item {
    width: ($column-tablet-size * 2);
    margin-bottom: 0;
    padding-right: 35px;
    box-sizing: border-box;
  }

  .contacts__footer {
    text-align: center;
  }
}

@media #{$desktop-up} {
  .contacts {
    padding-top: 70px;
  }

  .contacts__inner {
    position: relative;
    display: block;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-left: $layout-tablet-offset;
    padding-right: $layout-tablet-offset;
  }

  .contacts__title {
    @include desktop-title-typography();

    justify-content: flex-start;
    width: ($column-desktop-size * 3);
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    padding-right: 45px;
    box-sizing: border-box;

    &::after {
      order: -1;
      min-width: $column-desktop-size;
    }
  }

  .contacts__map {
    position: absolute;
    top: 0;
    right: $layout-desktop-offset;
    width: ($column-desktop-size * 3);
    margin-bottom: 0;
  }

  .contacts__info {
    flex-direction: column;
    width: ($column-desktop-size * 2);
    margin-left: $column-desktop-size;
    margin-bottom: 80px;
    padding: 0;
    padding-right: 45px;
    box-sizing: border-box;
  }

  .contacts__info-item {
    width: auto;
    margin-bottom: 30px;
    padding-right: 0;
  }

  .contacts__footer {
    width: ($column-desktop-size * 2);
    margin-left: $column-desktop-size;
    padding: 0;
    padding-right: 45px;
    text-align: left;
    box-sizing: border-box;
  }
}
