.contacts {
  padding-top: 30px;
  padding-bottom: 40px;
}

.contacts__inner {
  @include container();

}

.contacts__title {
  margin: 0;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $color-black;
}

.contacts__info {
  @include clear-list();

  margin-bottom: 40px;
}

.contacts__info-item {
  display: flex;
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__info-field {
  padding-right: 30px;
}

.contacts__info-value {

}

.contacts__map {
  height: 460px;
  margin-bottom: 40px;
  overflow: hidden;
}

.contacts__footer {
  @include container();

}
