.featured-product {
  padding-top: 30px;
  padding-bottom: 30px;
}

.featured-product__inner {
  @include container();

  position: relative;
  padding-bottom: 100px;
}

.featured-product__header {
  margin-bottom: 27px;
  font-weight: 700;
}

.featured-product__title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;
}

.featured-product__label {
  font-size: $font-size--large;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-primary;
}

.featured-product__info {

}

.featured-product__description {
  margin: 0;
  margin-bottom: 28px;
}

.featured-product__parameters {
  margin-bottom: 28px;
}

.featured-product__param-row {
  border-bottom: 1px solid $gray--light;
}

.featured-product__param-field,
.featured-product__param-value {
  padding: 10px 0;
  vertical-align: top;
}

.featured-product__param-field {
  padding-right: 30px;
}

.featured-product__param-value {

}

.featured-product__price {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: $font-size--large;
  line-height: $line-height;
  text-align: center;
}

.featured-product__footer {
  position: absolute;
  left: $layout-mobile-offset;
  right: $layout-mobile-offset;
  bottom: 0;
}

.featured-product__image {
  margin-bottom: 28px;
}

@media #{$tablet-up} {
  .featured-product__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 0;
  }

  .featured-product__header {
    position: absolute;
    top: 0;
    left: $layout-tablet-offset;
    right: $layout-tablet-offset;
    display: flex;
    align-items: center;
  }

  .featured-product__title {
    flex-grow: 1;
    font-size: 43px;
    line-height: 50px;
  }

  .featured-product__label {
    width: 70px;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 17px;
    text-align: center;
  }

  .featured-product__info {
    flex-basis: 290px;
  }

  .featured-product__description {
    line-height: 30px;
  }

  .featured-product__image {
    flex-basis: 333px;
    margin-bottom: 0;
  }

  .featured-product__footer {
    position: static;
  }
}

@media #{$desktop-up} {
  .featured-product__inner {
    padding-top: 0;
  }

  .featured-product__info {
    position: relative;
    padding-top: 150px;
    margin-left: $column-desktop-size;
  }

  .featured-product__header {
    position: absolute;
    top: 50px;
    left: 0;
    right: auto;
  }

  .featured-product__title {
    white-space: nowrap;
    font-size: 53px;
    line-height: 57px;
  }

  .featured-product__label {
    width: $column-desktop-size;
    box-sizing: border-box;
    position: absolute;
    right: 100%;
  }

  .featured-product__image {
    flex-basis: 525px;
  }
}
