.featured-product {
  padding-top: 30px;
  padding-bottom: 30px;
}

.featured-product__inner {
  @include container();
}

.featured-product__header {
  margin-bottom: 27px;
  font-weight: 600;
}

.featured-product__title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;
}

.featured-product__label {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  color: $color-primary;
}

.featured-product__description {
  margin: 0;
  margin-bottom: 28px;
}

.featured-product__parameters {
  margin-bottom: 28px;
}

.featured-product__param-row {
  border-bottom: 1px solid $color-gray-1;
}

.featured-product__param-field,
.featured-product__param-value {
  padding: 10px 0;
  vertical-align: top;
}

.featured-product__param-field {
  padding-right: 30px;
}

.featured-product__param-value {

}

.featured-product__image {
  margin-bottom: 28px;
}

.featured-product__price {
  margin-bottom: 28px;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
}
