.form-order {

}

.form-order__intro {
  @include container();
  margin: 0;
  margin-bottom: 24px;
  font-size: $font-size--small;
}

.form-order__section {
  padding-bottom: 10px;
}

.form-order__section-inner {
  @include container();
}

.form-order__section-title {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-weight: 700;
  font-size: $font-size--large;
  line-height: 16px;
  text-transform: uppercase;
  overflow: hidden;
  color: $color-primary;

  &::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: $color-primary;
    margin-left: 22px;
  }

  span {
    display: none;
  }
}

.form-order__radios-group {

}

.form-order__custom-radio {
  display: none;
}

.form-order__radio-label {
  position: relative;
  display: block;
  margin-bottom: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 62px;
  font-weight: 700;
  font-size: $font-size--large;
  line-height: 18px;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {

    &::before {
      border-color: $color-primary;
    }
  }

  &:active {

    &::before {
      border-color: $color-base;
      opacity: 0.3;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 50%;
    transition: border-color 0.25s, opacity 0.25s;
  }

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $color-primary;
    opacity: 0;
    transition: opacity 0.25s;
  }
}

.form-order__custom-radio:checked + .form-order__radio-label {

  &::after {
    opacity: 1;
  }
}

.form-order__checkboxes-group {
}

.form-order__custom-checkbox {
  display: none;
}

.form-order__checkbox-label {
  position: relative;
  display: block;
  margin-bottom: 22px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 62px;
  font-weight: 700;
  font-size: $font-size--large;
  line-height: 18px;
  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {

    &::before {
      border-color: $color-primary;
    }
  }

  &:active {

    &::before {
      border-color: $color-base;
      opacity: 0.3;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 2px solid;
    box-sizing: border-box;
    transition: border-color 0.25s, opacity 0.25s;
  }

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 9px;
    width: 22px;
    height: 16px;
    opacity: 0;
    background: url("../img/icon-tick.svg") no-repeat center / contain;
    transition: opacity 0.25s;
  }
}

.form-order__custom-checkbox:checked + .form-order__checkbox-label {

  &::after {
    opacity: 1;
  }
}

.form-order__container-input {
  position: relative;
  margin-bottom: 22px;
}

.form-order__label {
  font-weight: 700;
  font-size: $font-size--large;
  line-height: 18px;
}

.form-order__input {
  width: 100%;
  padding: 14px 0;
  box-sizing: border-box;
  font-size: $font-size--large;
  line-height: 18px;
  font-family: inherit;
  color: $color-black;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid;
  transition: border-bottom-color 0.25s;

  &:hover,
  &:focus {
    border-bottom-color: $color-primary;
  }

  &::placeholder {
    font-weight: normal;
    color: $color-base;
    opacity: 0.3;
  }

  &--has-icon {
    padding-right: 50px;
  }
}

.form-order__input-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: $color-base;
  fill-opacity: 0.3;
  transition: fill 0.25s, fill-opacity 0.25s;

  &--phone {
    margin-right: 8px;
  }

  &--email {
    margin-right: 5px;
  }
}

.form-order__input:hover + .form-order__input-icon,
.form-order__input:focus + .form-order__input-icon {
  fill: $color-primary;
  fill-opacity: 1;
}

.form-order__textarea {
  width: 100%;
  min-height: 142px;
  padding: 14px 15px;
  font-size: $font-size--large;
  line-height: 18px;
  font-family: inherit;
  vertical-align: middle;
  color: $color-black;
  border: 2px solid $color-black;
  box-sizing: border-box;
  resize: vertical;
  transition: border-color 0.25s;

  &:hover,
  &:focus {
    border-color: $color-primary;
  }

  &::placeholder {
    font-weight: normal;
    color: $color-base;
    opacity: 0.3;
  }
}

.form-order__footer {
  @include container();
}

.form-order__footnote {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
}

@media #{$tablet-up} {
  .form-order__intro {
    font-size: $font-size--large;
    line-height: 30px;
  }

  .form-order__section {
    padding-top: 50px;
    padding-bottom: 26px;

    &--filled {
      background-color: $gray--lighten;
    }

    &--glued {
      padding-top: 0;
      padding-bottom: 0;
    }

    &--glued-start {
      padding-top: 50px;
    }

    &--glued-end {
      padding-bottom: 26px;
    }
  }

  .form-order__section-inner {
    display: flex;
    align-items: baseline;
  }

  .form-order__section-title {
    display: block;
    flex-shrink: 0;
    width: $column-tablet-size;
    margin-bottom: 0;
    box-sizing: border-box;

    &::after {
      content: none;
    }
  }

  .form-order__controls-group {
    flex-grow: 1;
  }

  .form-order__radios-group {
    flex-grow: 1;
  }

  .form-order__checkboxes-group {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  .form-order__radio-label {
    margin-bottom: 24px;
  }

  .form-order__checkbox-label {
    width: 50%;
    margin-bottom: 24px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .form-order__controls-group {

  }

  .form-order__section--glued-start .form-order__controls-group {
    margin-bottom: 0;
  }

  .form-order__container-input {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  .form-order__label {
    margin-right: 25px;
  }

  .form-order__input {
    flex-grow: 1;
    padding-left: 18px;
    padding-right: 18px;

    &--has-icon {
      padding-right: 60px;
    }
  }

  .form-order__input-icon {
    right: 15px;
  }

  .form-order__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
  }

  .form-order__footnote {
    margin-bottom: 0;
    order: 1;
  }
}

@media #{$desktop-up} {
  .form-order__intro {
    padding-left: $column-desktop-size;
    padding-right: $column-desktop-size;
    box-sizing: border-box;
  }

  .form-order__section-title {
    width: $column-desktop-size;
    padding-left: 60px;
  }

  .form-order__radios-group {
    margin-right: $column-desktop-size;
  }

  .form-order__checkboxes-group {
    margin-right: $column-desktop-size;
  }

  .form-order__controls-group {
    margin-right: $column-desktop-size;
  }

  .form-order__textarea {
    margin-right: $column-desktop-size;
  }

  .form-order__checkbox-label {
    width: (100% / 3);
  }

  .form-order__footer {
    padding-left: $column-desktop-size;
    padding-right: $column-desktop-size;
    box-sizing: border-box;
  }
}
