.form-order {
  @include container();
  padding-bottom: 55px;
}

.form-order__intro {
  margin: 0;
  margin-bottom: 24px;
  font-size: 13px;
}

.form-order__section {
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 32px;
  overflow: hidden;
  border: none;
}

.form-order__section-title {
  position: relative;
  padding: 0;
  padding-right: 22px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  line-height: 16px;
  color: $color-primary;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100vw;
    margin: auto;
    height: 2px;
    background-color: currentColor;
  }

  span {
    display: none;
  }
}

.form-order__custom-radio,
.form-order__custom-checkbox {
  @include sr-only();
}

.form-order__radio-label,
.form-order__checkbox-label {
  position: relative;
  padding-left: 62px;
  display: block;
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
  line-height: 18px;
  user-select: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-order__custom-radio {

}

.form-order__radio-label {
  margin-bottom: 22px;
  padding-top: 10px;
  padding-bottom: 10px;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border: 2px solid;
    border-radius: 50%;
    box-sizing: border-box;
    transition: border-color 0.25s, opacity 0.25s;
  }

  &::after {
    top: 12px;
    left: 12px;
    width: 15px;
    height: 15px;
    opacity: 0;
    border-radius: 50%;
    background-color: $color-primary;
    transition: opacity 0.25s;
  }

  &:hover,
  &:focus {

    &::before {
      border-color: $color-primary;
    }
  }

  &:active {

    &::before {
      border-color: currentColor;
      opacity: 0.3;
    }
  }
}

.form-order__custom-radio:checked + .form-order__radio-label {

  &::after {
    opacity: 1;
  }
}

.form-order__checkbox-label {
  margin-bottom: 22px;
  padding-top: 11px;
  padding-bottom: 11px;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 2px solid;
    box-sizing: border-box;
    transition: border-color 0.25s, opacity 0.25s;
  }

  &::after {
    top: 12px;
    left: 9px;
    width: 22px;
    height: 16px;
    opacity: 0;
    background: url("../img/icon-tick.svg") no-repeat center / contain;
    transition: opacity 0.25s;
  }

  &:hover,
  &:focus {

    &::before {
      border-color: $color-primary;
    }
  }

  &:active {

    &::before {
      border-color: currentColor;
      opacity: 0.3;
    }
  }
}

.form-order__custom-checkbox:checked + .form-order__checkbox-label {

  &::after {
    opacity: 1;
  }
}

.form-order__label {
  font-weight: 600;
  font-size: 17px;
  line-height: 18px;
}

.form-order__input {
  width: 100%;
  margin-bottom: 22px;
  padding: 14px 0;
  border: none;
  border-bottom: 2px solid;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
  color: $color-black;
  outline: none;
  transition: border-bottom-color 0.25s;

  &:hover,
  &:focus {
    border-bottom-color: $color-primary;
  }

  &::placeholder {
    font-weight: normal;
    color: $color-base;
    opacity: 0.3;
  }
}

.form-order__textarea {
  width: 100%;
  min-height: 142px;
  padding: 15px;
  border: 2px solid;
  resize: vertical;
  font-family: inherit;
  font-size: 17px;
  box-sizing: border-box;
  color: $color-black;
  transition: border-color 0.25s;

  &:hover,
  &:focus {
    border-color: $color-primary;
  }

  &::placeholder {
    font-weight: normal;
    color: $color-base;
    opacity: 0.3;
  }
}

.form-order__footnote {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
}
