.group-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.group-controls__input {
  @include sr-only();
}

.group-controls__label {
  flex-grow: 1;
  padding: 16px;
  margin-right: 7px;
  font-weight: 600;
  font-size: 17px;
  line-height: 16px;
  border: 2px solid rgba($color-base, 0.1);
  text-align: center;
  cursor: pointer;
  transition: border-color 0.25s;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    border-color: rgba($color-base, 0.3);
  }

  &:active {
    border-color: $color-primary;
  }
}

.group-controls__input:checked + .group-controls__label {
  border-color: $color-primary;
}
