.main-nav__list {
  @include clear-list();
}

.main-nav__link {
  display: block;
  color: $color-black;
  text-decoration: none;
  transition: color 0.25s;

  &:hover,
  &:focus {
    color: #666666;
  }

  &:active {
    color: #b2b2b2;
  }
}

.main-nav__user-list {
  @include clear-list();
}

.main-nav__user-link {
  display: block;
  color: $color-black;
  text-decoration: none;
  transition: color 0.25s;

  &:hover,
  &:focus {
    color: #666666;
  }

  &:active {
    color: #b2b2b2;
  }
}


.main-nav__user-icon {
  display: inlisne-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  fill: $color-base;
  fill-opacity: 0.2;
  transition: fill 0.25s, fill-opacity 0.25s;
}

.main-nav__user-link:hover .main-nav__user-icon,
.main-nav__user-link:focus .main-nav__user-icon {
  fill: $color-primary;
  fill-opacity: 1;
}

.main-nav__user-link:active .main-nav__user-icon {
  fill: $color-primary;
  fill-opacity: 0.3;
}

.main-nav__extra-list {
  @include clear-list();

  display: none;
}

.main-nav__extra-link {
  display: block;
  color: $color-black;
  text-decoration: none;
  transition: color 0.25s;

  &:hover,
  &:focus {
    color: #666666;
  }

  &:active {
    color: #b2b2b2;
  }
}

@media #{$mobile-only} {
  .main-nav {
    padding: 22px 0;
    text-align: center;
  }

  .main-nav__list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-color: $color-white;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav__item {
    font-weight: 700;
    font-size: $font-size--large;
    line-height: $line-height;
    box-shadow: 0 -1px 0 $gray--light inset;
  }

  .main-nav__link {
    padding: 28px 30px;
  }

  .main-nav__user-list {
    position: absolute;
    top: calc(100% + 160px);
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-color: $color-white;
  }

  .main-nav--closed .main-nav__user-list {
    display: none;
  }

  .main-nav__user-item {
    font-weight: 700;
    font-size: $font-size--large;
    line-height: $line-height;
    box-shadow: 0 -1px 0 $gray--light inset;
  }

  .main-nav__user-link {
    padding: 28px 30px;
  }

  .main-nav__user-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-color: $gray--light;
  }

  .main-nav__user-link:hover .main-nav__user-icon,
  .main-nav__user-link:focus .main-nav__user-icon {
    opacity: 1;
    background-color: $color-primary;
  }

  .main-nav__user-link:active .main-nav__user-icon {
    opacity: 0.3;
    background-color: $color-primary;
  }

  .main-nav__toggle {
    position: absolute;
    right: $layout-mobile-offset;
    top: 0;
    bottom: 0;
    display: block;
    width: 21px;
    height: 21px;
    margin: auto;
    font-size: 0;
    border: none;
    background: $color-white url("../img/icon-menu-close.svg") no-repeat center / contain;
    cursor: pointer;
  }

  .main-nav--closed .main-nav__toggle {
    background-image: url("../img/icon-menu-open.svg");
  }

  .main-nav--no-js .main-nav__toggle {
    display: none;
  }
}

@media #{$tablet-up} {
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 88px;
  }

  .main-nav__logo {
    display: inline-block;
    vertical-align: middle;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    position: absolute;
    left: $layout-tablet-offset;
    top: 100%;
    display: flex;
    margin-top: 20px;
  }

  .main-nav__item {
    margin-right: 37px;
    font-weight: 700;
    font-size: $font-size;
    line-height: $line-height;

    &:last-child {
      margin-right: 0;
    }
  }

  .main-nav__link {
    color: $color-black;
    text-decoration: none;
  }

  .main-nav__user-list {
    display: flex;
  }

  .main-nav__user-item {
    font-weight: 700;
    font-size: $font-size;
    line-height: $line-height;
  }

  .main-nav__user-link {
    color: $color-black;
    text-decoration: none;
  }
}

@media #{$desktop-up} {
  .main-nav__list {
    position: static;
    order: -1;
    margin-top: 0;
  }

  .main-nav__item {
    margin-right: 18px;
    padding-right: 18px;
    box-shadow: -1px 0 0 $gray--light inset;
    font-size: $font-size--large;

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      box-shadow: none;
    }
  }

  .main-nav__extra-list {
    position: absolute;
    left: $layout-tablet-offset;
    top: 100%;
    display: flex;
    margin-top: 20px;
  }

  .main-nav__extra-item {
    margin-right: 37px;
    font-weight: 700;
    font-size: $font-size;
    line-height: $line-height;

    &:last-child {
      margin-right: 0;
    }
  }

  .main-nav__extra-link {
    color: $color-black;
    text-decoration: none;
  }
}
