.main-nav {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: $color-white;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }

  &--no-js {
    position: static;
    display: block;
  }
}

.main-nav__list {
  @include clear-list();
}

.main-nav__item {
  border-bottom: 1px solid $gray--light;
  font-weight: 700;
  font-size: $font-size--large;
  line-height: $line-height;
}

.main-nav__link {
  @include container();

  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  color: $color-black;
  text-decoration: none;
  transition: color 0.25s;

  &:hover,
  &:focus {
    color: rgba($color-black, 0.6);
  }

  &:active {
    color: rgba($color-black, 0.3);
  }
}

.main-nav__icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  opacity: 0.2;
  background-color: $color-black;
  transition: 0.25s linear;
}

.main-nav__link:hover .main-nav__icon,
.main-nav__link:focus .main-nav__icon {
  opacity: 1;
  background-color: $color-primary;
}

.main-nav__link:active .main-nav__icon {
  opacity: 0.3;
  background-color: $color-primary;
}
