.main-nav {

}

.main-nav__list {
  @include clear-list();
}

.main-nav__item {
  border-bottom: 1px solid #ececec;
  font-weight: 600;
  font-size: 17px;
}

.main-nav__link {
  @include container();
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  color: currentColor;
}

.main-nav__icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  background-color: #2b8;
}
