.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 30px;
  padding-bottom: 45px;
  border-top: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(#000101, 0.25);
  background-color: $color-white;
  z-index: 10;
}

.modal__close {
  display: none;
}

.modal__title {
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}
