.page-title {
  @include container();

  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: $color-black;

  @media #{$tablet-up} {
    @include tablet-title-typography();

    text-align: center;
  }

  @media #{$desktop-up} {
    @include desktop-title-typography();
  }
}
