.page-welcome {
  padding-top: 70px;
  text-align: center;
  background-color: $gray--lightest;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -20px;
  background-size: 575px 373px;

  @media #{$retina} {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  @media #{$tablet-up} {
    padding-top: 100px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: bottom center;
    background-size: 1150px 746px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateY(50%);
      height: 22px;
      background: url("../img/bg-zigzag-fill.svg") repeat-x center / auto 100%;
    }
  }

  @media #{$tablet-up} and #{$retina} {
    background-image: url("../img/hero-desktop@2x.jpg");
  }

  @media #{$desktop-up} {

    &::after {
      height: 34px;
    }
  }
}
