.page-slogan {
  @include container();

  margin-top: 0;
  margin-bottom: 120px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: $color-black;
}

@media #{$tablet-up} {
  .page-slogan {
    max-width: 500px;
    margin-bottom: 370px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media #{$desktop-up} {
  .page-slogan {
    max-width: ($column-desktop-size * 4);
    margin-bottom: 350px;
    font-size: 53px;
    line-height: 57px;
  }
}
