.page-welcome {
  padding-top: 70px;
  text-align: center;
  background-color: $gray--lightest;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -20px;

  @media #{$tablet-up} {
    padding-top: 100px;
    background-position: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateY(50%);
      height: 22px;
      background-color: #add;
    }
  }

  @media #{$tablet-up} {

    &::after {
      height: 34px;
      background-color: #dad;
    }
  }
}
