.product-card {
  margin-bottom: 30px;
}

.product-card__image-holder {
  display: block;
}

.product-card__image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.product-card__info {
  padding: $product-card-padding;
  border: 1px solid $gray--light;
  transition: box-shadow 0.25s;
  background-color: $color-white;
}

.product-card:hover .product-card__info {
  box-shadow: 0 6px 10px rgba(#000000, 0.1);
}

.product-card:active .product-card__info {
  box-shadow: 0 3px 5px rgba(#000000, 0.1);
}

.product-card__title {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: $font-size--large;
  line-height: $line-height;
}

.product-card__title-link {
  display: block;
  text-decoration: none;
  color: $color-base;
  transition: color 0.25s;

  &:hover,
  &:focus {
    color: #666666;
  }

  &:active {
    color: #b2b2b2;
  }
}

.product-card__parameters {
  margin-bottom: 18px;
  font-size: $font-size--small;
  line-height: 30px;
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  border-top: 1px solid $gray--light;
}

.product-card__price {
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
}

.product-card__add-to-cart {
  text-decoration: none;
  color: $color-base;
  opacity: 0.2;
  transition: color 0.25s, opacity 0.25s;

  &:hover,
  &:focus {
    color: $color-primary;
    opacity: 1;
  }

  &:active {
    color: $color-primary;
    opacity: 0.3;
  }
}

.product-card__icon {
  vertical-align: middle;
}

@media #{$tablet-up} {
  .product-card {
    display: flex;
    margin-bottom: 55px;
  }

  .product-card__image-holder {
    width: 50%;
    min-width: calc(#{$column-tablet-size} * 2);
  }

  .product-card__info {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-left: none;
  }

  .product-card__title {
    font-size: 20px;
  }

  .product-card__parameters {
    font-size: $font-size;
  }

  .product-card__footer {
    margin-top: auto;
  }

  .product-card__price {
    font-size: $font-size--large;
  }
}

@media #{$desktop-up} {
  .product-card {
    flex-direction: column;
    width: 316px;
    margin-right: 51px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .product-card__image-holder {
    width: auto;
    min-width: 0;
  }

  .product-card__info {
    flex-grow: 1;
    width: auto;
    border-top: none;
    border-left: 1px solid $gray--light;
  }
}
