.reviews {
  padding-top: 30px;
  padding-bottom: 44px;
}

.reviews__inner {
  @include container();
  
}

.reviews__title {
  margin: 0;
  margin-bottom: 27px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: $color-black;
}

.reviews__list {

}

.reviews__item {
  margin: 0;
}

.reviews__comment {
  margin: 0;
  margin-bottom: 34px;
  line-height: 30px;
}

.reviews__author-name {
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.reviews__author-nickname {
  display: block;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
}
