.reviews {
}

.reviews__inner {
  padding-top: 30px;
  padding-bottom: 44px;
  @include container();
}

.reviews__title {
  @include mobile-title-typography();

  margin: 0;
  margin-bottom: 27px;
  font-weight: 700;
  color: $color-black;
}

.reviews__list {

}

.reviews__item {
  margin: 0;
}

.reviews__comment {
  margin: 0;
  margin-bottom: 34px;
  line-height: 30px;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: $line-height;
}

.reviews__author-nickname {
  display: block;
  font-weight: 400;
  font-size: $font-size--large;
  line-height: 30px;
}

@media #{$tablet-up} {
  .reviews__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 95px;
    background: url("../img/review@1x.jpg") no-repeat 0 0;
    background-size: 350px 457px;
  }

  .reviews__title {
    @include tablet-title-typography();

    margin-bottom: 0;
  }

  .reviews__button {
    width: auto;
    min-width: $column-desktop-size;
    margin-left: auto;
  }

  .reviews__comment {
    margin-bottom: 50px;
    font-size: $font-size--large;
  }
}

@media #{$desktop-up} {
  .reviews__inner {
    background-position: $layout-tablet-offset 0;
  }

  .reviews__title {
    @include desktop-title-typography();

    margin-left: $column-desktop-size;
  }
}
