.slider {

}

.slider__content {
  @include clear-list();

  margin-bottom: 34px;
}

.slider__item {

}

.slider__arrows {
  display: flex;
  margin-bottom: 37px;
}

.slider__arrow {
  position: relative;
  width: 50%;
  min-height: 52px;
  padding: 13px 40px;
  font-size: 0;
  border: 1px solid $gray--light;
  background-color: $color-white;
  cursor: pointer;
  user-select: none;

  &:last-child {
    border-left: none;
  }

  &--prev::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 26px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 26px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icon-right-arrow.svg");
  }
}

@media #{$tablet-up} {
  .slider {
    order: 1;
    margin-top: 50px;
  }

  .slider__content {
    margin-bottom: 0;
  }

  .slider__arrows {
    width: $column-desktop-size;
    margin-left: auto;
    margin-bottom: 0;
    outline: 1px solid tomato;
  }

  .slider__arrow {
    border: none;
  }
}

@media #{$desktop-up} {
  .slider {
    margin-left: $column-desktop-size;
  }
}
