.top-menu {
  @include container();
  @include clearfix();
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid $color-gray-1;
  text-align: center;
}

.top-menu__logo {
  display: inline-block;
  vertical-align: middle;
}

.top-menu__logo-image {

}

.top-menu__toggle {
  margin-top: 5px;
  float: right;
  width: 20px;
  height: 20px;
  border: none;
  font-size: 0;
}
