.top-menu {
  @include container();
  @include clearfix();

  padding-top: 22px;
  padding-bottom: 22px;
  text-align: center;
  border-bottom: 1px solid $gray--light;
}

.top-menu__logo {
  display: inline-block;
  vertical-align: middle;
}

.top-menu__logo-image {

}

.top-menu__toggle {
  position: relative;
  float: right;
  width: 21px;
  height: 21px;
  margin-top: 5px;
  font-size: 0;
  border: none;
  background-color: $color-white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;

  &--closed {
    background-image: url("../img/icon-menu-open.svg");
  }

  &--opened {
    background-image: url("../img/icon-menu-close.svg");
  }

  &--no-js {
    display: none;
  }
}
