.top-menu {
  @include container();
  display: flex;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #ececec;
}

.top-menu__logo {
  margin: auto;
}

.top-menu__logo-image {

}

.top-menu__toggle {
  position: absolute;
  right: 0;
}
