.top-menu {
  @include container();
  
  position: relative;
}

.top-menu__note {
  display: none;
}

@media #{$tablet-up} {
  .top-menu {

  }

  .top-menu__note {
    position: absolute;
    display: block;
    right: $layout-tablet-offset;
    bottom: 0;
  }
}
